<!doctype html>
<html lang="es">
  <head>
    <title>Flying</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet">
  </head>
  <body class="container my-5">
    <div class="jumbotron jumbotron-fluid text-center">
      <div class="container">
        <h1 class="display-3">Flying</h1>
        <p class="lead">Tu asesor de vuelos!</p>
      </div>
    </div>
    <form method="post" action="">
      {% csrf_token %}
      {{ form }}
      <br>
      <label class="custom-control custom-radio">
        <input id="radio1" name="radio" type="radio" class="custom-control-input">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Vuelo directo</span>
      </label>
      <label class="custom-control custom-radio">
        <input id="radio2" name="radio" type="radio" class="custom-control-input">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Vuelo con escalas</span>
      </label><br>
      <button class="btn btn-outline-primary">
        Buscar
      </button>
    </form>
    <h3 class="my-4">Resultados de la busqueda</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Aerolinea</th>
          <th scope="col">IATA</th>
          <th scope="col">Pais</th>
        </tr>
      </thead>
      <tbody>
        {% for resultado in lista_resultados %}
          <tr>
            <td>{{ resultado.nombre }}</td>
            <td>{{ resultado.iata }}</td>
            <td>{{ resultado.pais }}</td>
          </tr>
        {% empty %}
          No hay vuelos disponibles.
        {% endfor %}
      </tbody>
    </table>
  <body>
</html>